* {
  box-sizing: border-box;
}

.br {
  position: relative;
  margin: 15px 0;
}

.br-units {
  display: flex;
  flex-wrap: nowrap;
}

.br-unit {
  cursor: pointer;
  // some tweaks
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
}

.br-unit-0 {
  background-color: red;
}

.br-unit-1 {
  background-color: red;
}

.br-unit-2 {
  background-color: salmon;
}

.br-unit-3 {
  background-color: orange;
}

.br-unit-4 {
  background-color: yellowgreen;
}

.br-unit-5 {
  background-color: green;
}

.br-selected {
}

.br-readonly, .br-disabled {
  .br-unit {
    cursor: default;
  }
}
